footer{
    background-color: #6a98ca;
    color: #e2eebc;
    height: auto;
    }

p{
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    margin-top: 1%;
}

a{
    margin-left: 1%;
    margin-right: 1%;
}
i{
    color: #e2eebc;
}

