footer{
    background-color: rgba(12, 10, 10, 0.876);
    color: whitesmoke;
    height: auto;
    }

p.footerP{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: medium;
    margin-top: 1%;
    text-align: center;
}

a.footerA{
    margin-left: 1%;
    margin-right: 1%;
}
i.footerI{
    color: whitesmoke;
}

