header{
    height: 90vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
div.leftSide{
    background-color: #1aed5d;
    color: #045695;
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.rigthSide{
    background-color: #045695;
    color: #1aed5d;
    width:75%;
    height: inherit;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
}
#main-title{
    font-size: 6vw;
    color: #1aed5d;
}
#menu-title{
    font-size: 3vw;
}

*,*:before,*:after{
    box-sizing:inherit;
}
a.header{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.myButton{
        border:none; 
        padding:1vh;
        overflow:hidden;
        text-decoration:none;
        color:inherit;
        background-color:inherit;
        text-align:center;
        cursor:pointer;
        white-space:nowrap;
        display: block;
        user-select: none;
        margin-top: 5vh;
        
}

.myButton:hover{
    letter-spacing: 0.1em;
    color: #1aed5d;
    background-color: #045695;
    animation: color-transition 0.2s;
    text-decoration: none;
    box-shadow: 0px 1px 0 #045695, 
                0px 2px 3px #045ea3,
                0px -1px 0 #045695, 
                0px -2px 3px #045ea3;
}

@keyframes color-transition {
    from {
        color: #045695;
        background-color: #1aed5d;
        box-shadow: none;
        letter-spacing: -0.05em;
    }
    to {
        color: #1aed5d;
        background-color: #045695;
        box-shadow: 0px 1px 0 #045695, 
                0px 2px 3px #045ea3,
                0px -1px 0 #045695, 
                0px -2px 3px #045ea3;
        letter-spacing: 0.1em;

    }
  }



