header{
    height: 90vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

#img-container{
    width: 45vh;
}

@media (max-aspect-ratio:2/3) {
   #img-container{
        width: 45vw;
    }
}

img{
    border-radius: 50%;
    width: 100%;
} 

div.rigthSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: rgba(12, 10, 10, 0.876);
    width:75%;
    height: inherit;
}
div.leftSide{
    background-color: rgba(12, 10, 10, 0.876);
    color: whitesmoke;
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
}
#main-title{
    position: relative;
    display: inline;
    top: 2vh;
    left: 3%;
    
    font-size: 6vw;
    color: inherit;
}
#menu-title{
    font-size: 3vw;
}

*,*:before,*:after{
    box-sizing:inherit;
}
a.header{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.myButton{
        border:none; 
        padding:1vh;
        overflow:hidden;
        text-decoration:none;
        color:inherit;
        background-color:inherit;
        text-align:center;
        cursor:pointer;
        white-space:nowrap;
        display: block;
        user-select: none;
        margin-top: 5vh;
        
}

.myButton:hover{
    letter-spacing: 0.1em;
    color: rgba(12, 10, 10, 0.876);
    background-color: whitesmoke;
    animation: color-transition 0.2s;
    text-decoration: none;
    box-shadow: 0px 1px 0 whitesmoke, 
                0px 2px 3px rgb(216, 216, 216),
                0px -1px 0 whitesmoke, 
                0px -2px 3px rgb(216, 216, 216);
}

@keyframes color-transition {
    from {
        color: whitesmoke;
        background-color: rgba(12, 10, 10, 0.876);
        box-shadow: none;
        letter-spacing: -0.05em;
    }
    to {
        color: rgba(12, 10, 10, 0.876);
        background-color: whitesmoke;
        box-shadow: 0px 1px 0 whitesmoke, 
                0px 2px 3px rgb(216, 216, 216),
                0px -1px 0 whitesmoke, 
                0px -2px 3px rgb(216, 216, 216);
        letter-spacing: 0.1em;

    }
}

#animated-container{
    position: relative;
    padding-top: 3vh;
    width: 100%;
}

.animated-text{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 5vh;
}





