.experience {
  height: 100vh;
  display: flex;
  overflow: hidden;

  &:hover &__hexa-button {
    transform: scale(1) rotate(0deg);
  }

  &:hover &__background-image {
    opacity: 1;
    transform: scale(1.3);
  }

  & > div {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__background-image {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 15s transform linear;
  }

  &__hexa-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.4s transform cubic-bezier(0.17, 0.67, 0.65, 1.27);
    p {
      color: $secondary-color;
      letter-spacing: 0.3vh;
    }
  }
}
