.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;

  h2 {
    margin-bottom: 10vh;
  }

  a {
    margin-bottom: 10vh;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.05em;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }

    &:active {
      color: $contrast-color;
      opacity: 100%;
    }
  }
}
