// colors
$deep-blue: rgb(0, 27, 51);
$white-blue: rgb(248, 251, 255);
$gold: rgb(209, 156, 29);

// colors theme
$primary-color: $deep-blue;
$secondary-color: $white-blue;
$contrast-color: $gold;

// fonts
$main-font: 'Noto Sans';

// margins
$margin-xs : 1vh;
$margin-s : 3vh;
$margin-m : 5vh;
$margin-l : 10vh;
$margin-xl : 20vh;