@import 'colors';

.page1-container{
    .panel{
        padding-bottom: 10vh;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .left-panel{ 
        align-items: flex-end;
        h1{
            margin-right: 5vw;
            color: $secondary-color;
        }
        
        .upper-title{
            margin-right: 25vw;
        }
        
        div{
            align-items: flex-end;
        }
        
    }

    .right-panel{
         h1{
            margin-left: 5vw;
            color: $primary-color;
         }
         .upper-title{
            margin-left: 25vw;
        }
    }
}
