@import 'colors';

$margin-s : 1vh;
$margin-m : 3vh;
$margin-l : 5vh;

.page2-container{
    .panel {
        display: grid;
        grid-template-rows: 20% 80%;

        h2{
            text-align:center;
        }
        
        &--left{
            h2{
                color: $primary-color;
            }
            &>div{
                flex-direction: row-reverse;
            }
        }
        &--right{
            h2{
                color: $secondary-color;
            }
            &>div{
                flex-direction: row;
            }
        }
        &>div{
            display: flex;
            
        }
        .text-container{
            max-width: 400px; 
            flex: 1;
            margin-bottom: 10vh;
            h3>span{
                color: $contrast-color;
            }
            &>p{
                margin-top: $margin-m;
                margin-bottom: $margin-m;
            }

            &--left{
                margin-right: 30vh; 
            }

            &--right{
                h3{
                    color: $secondary-color;
                }
                h4{
                    color: $contrast-color;
                    margin-bottom: $margin-s;
                }
                margin-left: 30vh;
                p{
                    color: $secondary-color;
                    i{
                        color: $contrast-color;
                        margin-right: 1vw;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                li{
                    margin-top: $margin-l;
                }
            }
            .quote-container{
                background-color: $primary-color;
                width: 100%;
                padding-bottom: $margin-m;
                box-shadow: 9px 12px 0px rgba(0, 13, 24, 0.3);
                
                &>.quote{
                    color: $contrast-color;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 34px;
                    text-align: center;
                    margin-bottom: $margin-m;
                }
                &>.author{
                    color: $secondary-color;
                    text-align: center;
                }
            }
        }
    }
}

.photo-container{
    position: absolute;
    z-index: 1;
    width: 50vh;
    height: 50vh;
    left: 50%;
    top: 150vh;
    transform: translate(-50%, -50%);
    img{
        height: 90%; 
        width: 90%; 
        border-radius: 50%; 
        position: absolute; 
        z-index: 1; 
        left: 50%; 
        top:50%; 
        transform: translate(-50%, -50%);
    }
}

.half-circle {
    width: 100%;
    height: 100%; /* as the half of the width */

    &--left{
        background-color: $primary-color;
        border-bottom-left-radius: 25vh;
        border-top-left-radius: 25vh;
    }

    &--right{
        background-color: $secondary-color;
        border-bottom-right-radius: 25vh;
        border-top-right-radius: 25vh;
    }
}